@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
  <link rel='stylesheet' href='~/css/welcome.css' />
}

@section Scripts
{
  <script src="@Url.Content("~/js/welcome.js")"></script>
}

<div class="main-menu-canvas-container">
    <canvas id="myCanvas" class="main-menu-canvas"></canvas>
</div>

